.display {
  display: inline-block;
  margin-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(62, 126, 247);
  text-align: center;
  vertical-align: middle;
}

.color-green {
  color: green;
}

.color-red {
  color: rgb(172, 15, 15);
}

.img {
  margin-left: 10px;
  width: auto;
  height: 50px;
  vertical-align: middle;
}

.stockPrice {
  display: inline-block;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.description {
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  width: 330px;
  text-align: left;
}